<h1><%= @task.title %></h1>
<p><b>Description : </b><%= @task.details %></p>
<p><b>Completed : </b><%= @task.completed %></p>
<%= link_to "Update task", edit_path %>
<%= link_to "Back to list", tasks_path %>




